body
{
  background-attachment: fixed;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1
{
  color: rgb(27, 26, 23);
  padding-left: 10px;
}

table, h2, h3, p, tr
{
  color: rgb(27, 26, 23);
  padding-left: 10px;
}

.welcome-header
{
border: 2px solid rgb(27, 26, 23);
background-color: rgba(255, 249, 176, 0.3);
width: auto;
display: flex;
flex-direction: row;
}

hr
{
  color: rgb(27, 26, 23);
  border-style:  solid;
  border-width: 0.5px;
  width: 30%;
  border-style: dotted;
  align: left;
}

.BriefDescription
{
  width: auto;
  height: auto;
  padding-top: 15px;
}

.profile-pic-class
{
  width: auto;
  height: auto;
  padding: 10px;

}

#profile-pic
{
  border-style: solid;
  border: 2px solid rgb(27, 26, 23);
  max-width: 200px;
  max-height: 200px;
  margin: 10px 0px 10px 10px;
}
