body
{
  background-attachment: fixed;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  font-size: 100%;
  margin: 5%;
  margin-top: 0;
  margin-bottom: 0;
}

span
{
  text-decoration: underline;
}

hr
{
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
  width: 30%;
    opacity: 0.4;
}

#WelcomeHeader, p
{
  text-align: center;
}

#profilePic
{
  border-radius: 45%;
  max-width: 300px;
  border-style: solid;
}

.imageHeader
{
  max-width: 150px;
  max-height: 200px;
}



/*
body
{
  background-attachment: fixed;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1
{
  color: rgb(27, 26, 23);
}

table, h2, h3, p, tr
{
  color: rgb(27, 26, 23);
  padding-left: 10px;
}

.welcome-header
{
border: 2px solid rgb(27, 26, 23);
background-color: rgba(255, 249, 176, 0.3);
width: auto;
display: flex;
flex-direction: row;
}

hr
{
  border-style: dotted;
  border-width: 0.5px;
}

.BriefDescription
{
  padding-left: 10px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.profile-pic-class
{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}

#profile-pic
{
  border-style: solid;
  border: 2px solid rgb(27, 26, 23);
  max-width: 200px;
  max-height: 200px;
  width: 200px;
  height: 200px;
  margin: 10px 0px 10px 10px;
}
*/
